<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Irwin</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <h1>ABOUT</h1>

    <a href="/">🐢 Home</a>
    <a href="/works">🐊 Works</a>
    <a href="/photo-gallery">🐍 Photo Gallery</a>
    <section>
    <p>Stephen Robert Irwin, (born February 22, 1962, Essendon, Victoria, Australia—died September 4, 2006, off the coast of Port Douglas, Queensland), Australian wildlife conservationist, television personality, and educator who achieved worldwide fame as the exuberant host of The Crocodile Hunter (1992–2006) television series and related documentaries. With frenetic energy and an engaging boyish enthusiasm, Irwin led his viewers on recklessly close encounters with deadly and usually endangered animals, notably crocodiles, in Australia’s Outback and later in the jungles of Asia and Africa.</p>
    <p>Irwin continues to be remembered today for his many contributions to the field of wildlife education and conservation, including running an organization to rescue and protect crocodiles and supporting numerous other animal charities. November 15 has been designated Steve Irwin Day, an international tribute held annually in recognition of his life and work.</p>
    </section>
</body>
</html>