<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Irwin</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <h1>STEVE IRWIN</h1>
    <h2>Australian wildlife conservationist and television personality</h2>
    <a href="/about">🐊 About</a>
    <a href="/works">🦎 Works</a>
    <a href="/photo-gallery">🐍 Photo Gallery</a>
    <br>
    <img src="img/elf.webp" alt="elephant">
</body>
</html>
