<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Irwin</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <h1>GALLERY</h1>

    <a href="/">🐢 Home</a>
    <a href="/about">🦎 About</a>
    <a href="/works">🐊 Works</a>

    <section>
        <img src="img/croc2.jpg" alt="">
        <img src="img/croc3.webp" alt="">
        <img src="img/family.webp" alt="">
        <img src="img/Steve.jpg" alt="">
    </section>
</body>
</html>