<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Irwin</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <h1>WORKS</h1>

    <a href="/">🐢 Home</a>
    <a href="/about">🦎 About</a>
    <a href="/photo-gallery">🐍 Photo Gallery</a>

    <section>
    <p>Steve Irwin spent his life promoting environmentalism with infectious enthusiasm. He educated millions of people around the world about animals and the environment while entertaining them with his programme, “Crocodile Hunter.”
        Irwin founded the Steve Irwin Conservation Foundation, which later changed its name to Wildlife Warriors Worldwide. He also started several other projects, including International Crocodile Rescue and the Lyn Irwin Memorial Fund, in memory of his mother, which benefits the Iron Bark Station Wildlife Rehabilitation Center.</p>
    <h2>Charities & foundations supported</h2>
    <p>Steve Irwin has supported the following charities listed on this site:

        International Crocodile Rescue
        Lyn Irwin Memorial Fund
        Sea Shepherd Conservation Society
        Wildlife Warriors Worldwide</p>

    <h2>Outstanding Achievements</h2>

    <ul>

2018
<li>Received a star on the Hollywood Walk of Fame</li>


2015
<li>Recipient of Queensland Greats Award</li>


2009
<li>Honoured with naming of new species of land snail Crikey steveirwini</li>
<li>Inducted into the Queensland Business Leaders Hall of Fame</li>


2007
<li>135,000-hectare (334,000-acre) national reserve established on Cape York – Steve Irwin Wildlife Reserve</li>


2006
<li>Awarded Honorary Professorship by The University of Queensland’s School of Integrative Biology</li>


2004
<li>Recognised as “Tourism Export of the Year”</li>
<li>Australian of the Year nominee</li>

2002
<li>Lead role in The Crocodile Hunter: Collision Course</li>
<li>Established conservation charity Wildlife Warriors</li>


2001
<li>Awarded the Australian Government Centenary Medal for “service to global conservation and Australian tourism”</li>


1997
<li>Discovered new turtle species, named Irwin’s turtle (Elseya irwini)</li>


1992
<li>Started filming documentary series The Crocodile Hunter</li>

    </ul>
    </section>
</body>
</html>